/* === IMPORTANTE ===================================================
   No modificar estos estilos, ya que son imprescindibles para
   que la página se vea correctamente.
   ================================================================== */

/*-- Básico ----------------------------------------------------------*/
ul, ul li { margin: 0; padding: 0; list-style: none; }
h1, h2, h3, p, form { margin: 0; padding: 0; }
.clear { clear: both; }
img { border: none; }

/*-- Layout ----------------------------------------------------------*/
#contenedor {
  width: 90%;
  max-width: 900px;
  width: expression(document.body.clientWidth > 901? "900px": "auto");
  margin: 0 auto;
}

#cabecera { clear: both; }

#menu { clear: both; }
#lateral { float: left; width: 20%; }
#contenido { float: right; width: 78%; }
#contenido #principal { float: left; width: 74%; }
#contenido #secundario { float: right; width: 20%; }
#pie { clear: both; }

/*-- Cabecera --------------------------------------------------------*/
#cabecera #logo { float: left; }
#cabecera #buscador { float: right; }

/*-- Menu ------------------------------------------------------------*/
#menu ul#menu_principal li { display: inline; float: left; }

/*-- Sección Principal -----------------------------------------------*/
#contenido #principal .articulo img { width: 100px; float: left; }

/*-- Pie de página ---------------------------------------------------*/
#pie .enlaces   { float: left; }
#pie .copyright { float: right; }

/* === IMPORTANTE ===================================================
   A partir de aquí, se pueden añadir todos los estilos propios que 
   sean necesarios.
   ================================================================== */

#cabecera {
  padding: 1em;
}

#menu {
  padding: .5em;
  margin-bottom: .5em;
  border-bottom: 2px solid #004C99;
  background-image: url('src/6fondo_menu.gif');
}

#noticias, #publicidad, #principal, #secundario {
  padding: .5em;
}

#pie {
  padding-top: .5em;
  padding-bottom: .5em;
  margin-top: 1em;
  border-bottom: 1px solid #C5C5C5;
  border-top: 1px solid #C5C5C5;
}

.articulo {
  margin-bottom: 1em;
}

.articulo>img {
  margin: .5em;
}

#publicidad {
  margin-top: 1em;
  border: 1px dashed #CC6600;
  background-color: #FFF6CD;
}

#noticias {
  border: 1px solid #C5C5C5;
}

#secundario {
  border: 1px solid #CC6600;
}

#noticias, #pie {
  background-color: #F8F8F8;
}

#secundario h2 {
  background-color: #DB905C;
  padding: .2em;
}

#logo h1{
  color: rgba(0, 0, 0, 0.0);
  background-color: #fff;
  background-image: url('src/6logo.gif');
  background-repeat: no-repeat;
  padding-bottom: .3em;
}